h1{
    background-color: rgb(128, 28, 0);
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}